<!-- footers 20 -->
<section class="w3l-footers-20">
    <div class="footers20">
      <div class="container">
        <div class="footers20-content">
          <div class="d-grid grid-col-4 grids-content">
            <div class="column">
              <h4>Address</h4>
              <p class="contact-para3">New York, Alexandria, VA 2230, NY-90814 Hill Station 4th Street</p>
              <a href="contact.html">
                <p class="contact-map mt-2"><span class="lnr lnr-map-marker"></span> Find us on map</p>
              </a>
            </div>
            <div class="column">
              <h4>Get in touch</h4>
              <p>Join the Best GYM in Your Town!</p>
              <a href="tel:+1-2345-678-11">
                <p class="contact-phone mt-2"><span class="lnr lnr-phone-handset"></span> +1-2345-678-11
                </p>
              </a>
              <a href="mailto:mail@example.com">
                <p class="contact-mail mt-1"><span class="lnr lnr-envelope"></span> mail@example.com</p>
              </a>
            </div>
            <div class="column">
              <h4>Opening hours</h4>
              <p>We are working on</p>
              <p class="mt-1"><span class="lnr lnr-clock"></span> <strong>Mon - Fri</strong> : 7am to 9pm</p>
              <p class="mt-1"><span class="lnr lnr-clock"></span> <strong>Sat - Sun</strong> : 10 am to 8 pm
              </p>
            </div>
          </div>
          <div class="d-grid grid-col-3 grids-content1 bottom-border">
            <div class="columns copyright-grid align-self">
              <p class="copy-footer-29">© 2022 FitBod. All rights reserved</p>
            </div>
            <div class="columns text-lg-right social-grid">
              <ul class="social">
                <li><a href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                <li><a href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
                <li><a href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };
 
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }
 
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </section>